{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="education" id="education">
    <p class="section-label">Education</p>
    <h2>My Education</h2>
    <p class="education-subtitle">
        My academic background and learning journey.
    </p>

    <div class="education-list">
        <div class="education-item">
            <span class="education-year">2025</span>
            <h3>Python FullStack Development</h3>
            <p class="education-course">Django, Python, HTML, CSS, JavaScript, MySQL and React</p>
            <small>CKS Solutions | Nagercoil</small>
        </div>

    <div class="education-list">
        <div class="education-item">
            <span class="education-year">2023 - 2027</span>
            <h3>Bachelor of Engineering</h3>
            <p class="education-course"> <strong>Course: </strong>Computer Science and Engineering</p>
            <small>Rohini College of Engineering and Technology | KanniyaKumari</small>
        </div>

        <div class="education-item">
            <span class="education-year">2021 - 2023</span>
            <h3>Higher Secondary</h3>
            <p class="education-course"><strong>Course: </strong>Maths Biology</p>
            <small>Carmel Higher Secondary School | Nagercoil</small>
        </div>

        <div class="education-item">
            <span class="education-year">2020 - 2021</span>
            <h3>Secondary School</h3>
            <p>Class 10</p>
            <small>Evans Matriculation Higher Secondary School | Nagercoil</small>
        </div>
    </div>
</section>

{% endblock %}